<div class="equal width row PanelFileList">
  <div class="column">
    <div class="ui grid segment">
      <div class="row header">
        <div class="header column">
          <label>
            {{ $t('Files') }}
            <span class="file-counter" v-if="task.files.length > 0">({{ task.files.length }})</span>
          </label>
        </div>
        <div class="right aligned meta column">
          <PanelFileSort 
            v-if="task.files.length > 1"
            ref="PanelFileSort"
            :db="db"
            :task="task">
          </PanelFileSort>
          <button type="button" class="ui icon button" @click="removeFiles" v-if="task.files.length > 0">
            <i class="trash icon" />
          </button>
          <PanelFileUpload 
            ref="PanelFileUpload"
            :db="db"
            :task="task">
          </PanelFileUpload>
        </div>
      </div>
      <PanelFileItem v-for="file in task.files" ref="PanelFileItem" :db="db" :task="task" :file="file">
      </PanelFileItem>
    </div>
  </div>
</div>