<div class="PanelFilter ui form">
  <template v-if="db.config.view === 'completed'">
    <button type="button"   
      @click="backupAllCompletedTasks"
      class="ui warning button">{{ $t('BACKUP ALL COMPLETED') }}</button>
    <button type="button" 
      @click="removeAllCompletedTasks"
      class="ui warning button">{{ $t('DELETE ALL COMPLETED') }}</button>
  </template>
    
  <div class="ui icon input">
    <i class="search icon"></i>
    <input type="text" 
      v-model="db.config.search"
      :placeholder="$t('Search...')" />
  </div>
  <div class="sort-select field">
    <select v-model="sortAction">
      <option value="">{{ $t('Sort...') }}</option>
      <option value="dueTime">{{ $t('Due') }}</option>
      <option value="priority">{{ $t('Priority') }}</option>
      <option value="modifiedTime">{{ $t('Updated') }}</option>
    </select>
  </div>
</div>