<div class="TaskItem ui vertical segment form"
  :class="{secondary: (isShowDetail || isModified)}">
  <div class="ui grid">
    <PanelHeader 
      ref="PanelHeader"
      :db="db"
      :task="task">
    </PanelHeader>
    <template v-if="isShowDetail">
      <div class="equal width row">
        <div class="column">
          <div class="field">
            <label>{{ $t('Description') }}</label>
            <textarea :value="task.description" 
              @input="setTask('description', $event.target.value)" 
              ref="TextareaDescription"></textarea>
          </div>
        </div>
      </div>
      <div class="equal width row">
        <div class="column">
        <div class="field">
          <label>{{ $t('Location') }}</label>

          <div class="ui action input">
            <input type="text" 
              :value="task.location"
              @input="setTask('location', $event.target.value)" />
            <button class="ui icon button"
              :class="{disabled: (task.location.trim() === '')}"
              @click="searchMap">
              <i class="map icon"></i>
            </button>
          </div>
            
        </div>
      </div>
      </div>
      <div class="equal width row">
        <div class="controller column">
          <PanelPriority 
            ref="PanelPriority"
            :db="db"
            :task="task">
          </PanelPriority>
        </div>
        <div class="controller center aligned column vertical-center">
          <PanelDueTime 
            ref="PanelDueTime"
            :db="db"
            :task="task">
          </PanelDueTime>
        </div>
        <div class="controller center aligned column vertical-center">
          <PanelModifiedTime 
            ref="PanelModifiedTime"
            :db="db"
            :task="task">
          </PanelModifiedTime>
        </div>
        <div class="right aligned column vertical-center">
          <div class="ui buttons control-buttons">
            <button type="button" class="ui button" @click="deleteTask">{{ $t('DELETE') }}</button>
            <button type="button" class="ui button" @click="db.config.focusedTask = null">{{ $t('CLOSE') }}</button>
          </div>
            
        </div>
      </div>
    </template>  
  </div>
</div>

</div>