.TaskItem {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.title.row {
  white-space: nowrap !important;
  flex-wrap: nowrap !important;

  justify-content: center;
}

.title.column {
  width: 100% !important;
  //background-color: red !important;

  display: flex !important;
  justify-content: left;

  .input {
    width: 100% !important;
  }
}

.pin-button {
  border-width: 0 !important;
  box-shadow: none !important;
}

.overdue {
  color: red;
}

.vertical-center {
  display: flex !important;
  align-items: center;
}

.control-buttons {
  .button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}