.fixed.menu {
  .item.ItemAddTodo.add-todo {
    width: calc(100% - 17rem) !important;

    @media screen and (max-width:512px) { 
      // background-color: red !important;
      width: calc(100% - 8rem) !important;
    }


    cursor: pointer;
    // width: 100% !important;
  
    .icon.disabled {
      visibility: hidden !important;
    }
  
    &:before {
      background: transparent !important;
    }
  }

  &.inverted .item.ItemAddTodo.add-todo {
    background-color: rgba(255,255,255,0.7);

    i, input {
      color: white !important;
    }

    input::placeholder {
      color: rgba(255,255,255,0.8) !important;
    }
      
  }
}
