<div class="Index"
  v-show="db.config.inited">

  <!--
  <select v-model="db.config.view">
    <option v-for="v in viewList" :value="v">{{ $t(v) }}</option>
  </select>

  <input type="text" v-model="db.config.search" />
  -->

  <NavigationBar 
    ref="NavigationBar"
    :db="db">
  </NavigationBar>

  <DropZone 
    ref="DropZone"
    :db="db">
  </DropZone>

  <div v-show="!db.config.showConfiguration">
    <PanelFilter 
      ref="PanelFilter"
      :db="db">
    </PanelFilter>

    <TaskList 
      ref="TaskList"
      :db="db">
    </TaskList>

  </div>

  <ViewConfiguration 
    v-if="db.config.showConfiguration"
    ref="ViewConfiguration"
    :db="db">
  </ViewConfiguration>

</div>