<div class="Index"
  v-show="db.config.inited">

  <!--
  <select v-model="db.config.view">
    <option v-for="v in viewList" :value="v">{{ $t(v) }}</option>
  </select>

  <input type="text" v-model="db.config.search" />
  -->

  <NavigationBar 
    ref="NavigationBar"
    :db="db">
  </NavigationBar>

  <div v-show="db.config.view === 'todo' || db.config.view === 'completed'">
    <PanelFilter 
      ref="PanelFilter"
      :db="db">
    </PanelFilter>

    <TaskList 
      ref="TaskList"
      :db="db">
    </TaskList>
  </div>
  <div v-if="db.config.view === 'configuration'">
    <ViewConfiguration 
      ref="ViewConfiguration"
      :db="db">
    </ViewConfiguration>
  </div>

</div>