<div class="PanelFileItem row">
  <a class="thumbnail column"
    :href="fileSystemURL"
    :title="file"
    v-if="mimeIcon"
    :style="{'background-image': thumbnail}"
    @click.prevent.stop="clickThumbnail">
  </a>
  <div class="filename column">
    <a :href="fileSystemURL"
      :title="file"
      :download="file"
      v-if="!isImage">
      {{ file }}
    </a>
    <a :href="fileSystemURL"
      :title="file"
      :download="file"
      @click.prevent.stop="clickThumbnail"
      v-else>
      {{ file }}
    </a>
  </div>
  <div class="meta column">
    <div class="info"
      v-if="modificationTime">
      {{ modificationTime}}
    </div>
    <div class="info"
      v-if="size">
      {{ size}}
    </div>
    <button type="button"
      class="ui icon button"
      @click="remove">
      <i class="x icon" />
    </button>
    <a class="ui icon button"
      :title="file"
      :href="fileSystemURL"
      taget="_blank"
      v-if="isImage"
      @click.prevent.stop="popupPreview">
      <i class="open external icon" />
    </a>
    <a class="ui icon button"
      :title="file"
      :href="fileSystemURL"
      :download="file"
      ref="DownloadButton">
      <i class="download icon" />
    </a>
  </div>
</div>