<div class="PanelFileItem row">
  <div class="thumbnail column"
    v-if="mimeIcon">
    <img :src="fileSystemURL" v-if="isImage" />
    <img :src="mimeIcon" v-else />
  </div>
  <div class="filename column">
    <a :href="fileSystemURL"
      :title="file"
      :download="file">
      {{ file }}
    </a>
  </div>
  <div class="meta column">
    <div class="info"
      v-if="modificationTime">
      {{ modificationTime}}
    </div>
    <div class="info"
      v-if="size">
      {{ size}}
    </div>
    <button type="button"
      class="ui icon button"
      @click="remove">
      <i class="x icon" />
    </button>
    <a class="ui icon button"
      :title="file"
      :href="fileSystemURL"
      taget="_blank"
      v-if="isImage"
      @click.prevent.stop="db.utils.FileSystemUtils.popupPreview(filePath)">
      <i class="open external icon" />
    </a>
    <a class="ui icon button"
      :title="file"
      :href="fileSystemURL"
      :download="file">
      <i class="download icon" />
    </a>
  </div>
</div>