.PanelFileItem.row {
  white-space: nowrap !important;
  flex-wrap: nowrap !important;

  .thumbnail.column,
  .meta.column {
    width: fit-content !important;
    white-space: nowrap !important;

    .info {
      width: fit-content !important;
      white-space: nowrap !important;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  .filename.column {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
  }
}

