.add-todo {
  width: calc(100% - 9.7rem);

  .icon.disabled {
    visibility: hidden !important;
  }

  &:before {
    background: transparent !important;
  }
}

.menu-padding {
  height: 60px;
}

.inverted {
  img {
    filter: invert(1);
  }
}