.fixed.menu {
  flex-wrap: nowrap;

  .item {
    width: fit-content !important;
  }
}



.menu-padding {
  height: 60px;
}

.inverted {
  img {
    filter: invert(1);
  }
}

.view-toggle {
  img {
    height: 1.5rem !important;
    width: auto !important;
  }

  &.disabled {
    img {
      opacity: 0.2;
    }

    pointer-events: none;
  }
}