
<div class="NavigationBar">
  <div class="ui top fixed menu"
    :class="{inverted: (db.config.view === 'completed')}">
    <div class="item"
      :title="computedTitle">
      <img src="./favicon.png"
        v-if="!computedFavicon" />
      <img :src="computedFavicon"
        v-else />
    </div>
    <div class="item add-todo">
      <div class="ui transparent left icon input"
        v-if="db.config.view === 'todo' || db.config.view === 'completed'">
        <i class="plus link icon"
          :class="{'disabled': !canAddTodo}"
          @click="addTodo"></i>
        <input type="text"
          v-model="db.config.addTodoText"
          :placeholder="$t(`What's todo...`)"
          @keyup.enter.exact="addTodo"
          >
      </div>
    </div>
    <div class="right menu"
        :class="{inverted: (db.config.view === 'completed')}">
      <template v-if="!db.config.showConfiguration">
        <a class="item view-toggle"
          @click="db.config.view = 'todo'"
          v-if="db.config.view === 'completed'">
          <img src="./list-todo.png" />
        </a>
        <a class="item view-toggle"
          @click="db.config.view = 'completed'"
          v-if="db.config.view === 'todo'">
          <img src="./list-complated.png" />
        </a>
      </template>
      <a class="item"
        :class="{actvie: db.config.showConfiguration}"
        @click="db.config.showConfiguration = !db.config.showConfiguration">
        <i class="icon"
          :class="{cog: !db.config.showConfiguration, x: db.config.showConfiguration}"></i>
      </a>
    </div>
  </div>
  <div class="menu-padding"></div>
</div>
