
<div class="NavigationBar">
  <div class="ui top fixed menu"
    :class="computedNavigationBarClasses">
    <div class="item"
      :title="computedTitle">
      <img src="./favicon.png"
        v-if="!computedFavicon" />
      <img :src="computedFavicon"
        v-else />
    </div>
    <ItemAddTodo 
      ref="ItemAddTodo"
      :db="db">
    </ItemAddTodo>
    <div class="right menu">
      <ItemFileUpload 
        ref="ItemFileUpload"
        :db="db">
      </ItemFileUpload>
      <template v-if="!db.config.showConfiguration">
        <a class="item view-toggle"
          :class="{disabled: !hasTodoTasks}"
          @click="db.config.view = 'todo'"
          v-if="db.config.view === 'completed'">
          <img src="./list-todo.png" />
        </a>
        <a class="item view-toggle"
          :class="{disabled: !hasCompletedTasks}"
          @click="db.config.view = 'completed'"
          v-if="db.config.view === 'todo'">
          <img src="./list-complated.png" />
        </a>
      </template>
      <a class="item"
        :class="{actvie: db.config.showConfiguration}"
        @click="db.config.showConfiguration = !db.config.showConfiguration">
        <i class="icon"
          :class="{cog: !db.config.showConfiguration, x: db.config.showConfiguration}"></i>
      </a>
    </div>
  </div>
  <div class="menu-padding"></div>
</div>
